* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'VT323', monospace;
    background-image: url("../img/fundo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    width: 100%;
    height: 170px;
    display: block;
    text-align: center;
    margin: 0 0 50px ;
    font-weight: bold;
    font-size: 60px;
}
.titulo {
    color: yellow;
}
main {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.box {
    display: flex;
    width: 80%;
    height: 800px;
    background-color: tomato;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px;
    font-size: 30px;   
    align-items: center;
    justify-content: center;
}
.box h1{
    margin-left: 60px;
    text-align: center;
    font-size: 25px;
    width: 70%;
}
.box strong{
    color: yellow;
    font-size: 23px;
}
.buttom {
    display: flex;
    width: 155px;
    height: 60px;
    background-color:red;
    margin-top: 70px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'VT323', monospace;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}
footer {
    width: 100%;
    height: 50px;
    margin-top: 100px;   
}
p {
    color: yellow;
    font-weight: bold;
    font-size: 30px;
    font-family: 'VT323', monospace;
    text-align: center;   
}