@media (max-width: 1400px){
    html{
        width: 100%;
        height: fit-content;
    }
    body{
        width: 100%;
        height: fit-content;
    }
    header{
        width: 100%;
        height: fit-content;
    }
    main{
        width: 100%;
        height: fit-content;
    }
    .box{
        width: 100%;
        height: fit-content;
    }

}
@media (max-width: 1200px){
    html{
        width: 100%;
        height: 100%;
    }
    body{
        width: 100%;
        height: fit-content;
    }
    header{
        width: 100%;
        height: fit-content;
        font-size: 20px;
    }
    main{
        width: 100%;
        height: fit-content;
    }
    .box{
        width: 100%;
        height: fit-content;
        
    }
    ul{
        width: 100%;
        height: fit-content;
        
    }
    li{
        width: 190px;
        height: fit-content;
        font-size: 15px;
        
    }
}
@media (max-width: 800px){
    html{
        width: 100%;
        height: 100%;
    }
    body{
        width: 100%;
        height: fit-content;
    }
    header{
        width: 100%;
        height: fit-content;
        font-size: 20px;
    }
    main{
        width: 100%;
        height: fit-content;
    }
    .box{
        width: 100%;
        height: fit-content;
    }
    ul{
        width: 100%;
        height: fit-content;
    }
    li{
        width: 190px;
        height: fit-content;
        font-size: 15px;
    }
}
@media (max-width: 430px){
    html{
        width: 100%;
        height: 100%;
    }
    body{
        width: 100%;
        height: fit-content;
    }
    header{
        width: 100%;
        height: fit-content;
        font-size: 20px;
    }
    main{
        width: 100%;
        height: fit-content;
    }
    .box{
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
    ul{
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
    li{
        width: 120px;
        height: fit-content;
        font-size: 15px;
        flex-direction: column;
    }
}