* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
    height: 900px;
    justify-content: center;
    align-items: center;
    background-image: url("./fundo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'VT323', monospace;
}
h1{
    color:red;
    font-size: 400px; 
}