* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'VT323', monospace;
    background-image: url("./fundo3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    width: 100%;
    height: 170px;
    display: block;
    text-align: center;
    margin: 0 0 50px ;
    font-weight: bold;
    font-size: 45px;
}
.titulo {
    color: yellow;
}
main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
  
ul {
    display: flex;
    width: 940px;
    height: 600px;
    background-color: tomato;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 60px;
    padding: 50px;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
}
.persona1,.persona2,.persona3 {
    width: 300px;
    height: 300px;
    display: flex;
    margin: 6px;  
    padding: 50px;
    box-sizing: border-box;
}

.box a{
    text-decoration: none;
    color: yellow;
}
footer {
    width: 100%;
    height: 50px;
    margin-top: 100px;
    
}
p {
    color: yellow;
    font-weight: bold;
    font-size: 30px;
    font-family: 'VT323', monospace;
    text-align: center;
    
}
@media (max-width:700px){
     body {
        width: 100%;
        height: 100%;
        display: flex;
     }
     header {
        width: 100%;
        height: 100px;
        font-size: medium;
        box-sizing: border-box;
     }
     main {
        width: 80%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;  
        box-sizing: border-box;
    }

    .box {
        display: flex;
        width: 60%;
        height: 60%;
        background-color: tomato;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 50px;
        font-size: 30px;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }    
    .persona1,.persona2,.persona3 {
        width: 3vh;
        height: 3vh;
        display: flex;
        margin: 6px;
        box-sizing: border-box;  
    }













    }


    

    
